body {
  font-family: Helvetica Neue, Arial, sans-serif;
  text-align: center;
}
#sam{
    position: relative;
    height: 35vh;
    width: 61vw;

}
.wrapper {
}

h1 {
  font-weight: 200;
  font-size: 3em;
  margin: 0 0 0.1em 0;
}

h2 {
  font-weight: 200;
  font-size: 0.9em;
  margin: 0 0 50px;
  color: #999;
}

a {
  margin-top: 50px;
  display: block;
  color: #3e95cd;
}


#mychart{
    width: 1209px !important;
    height: 600px !important;
}